* { box-sizing: border-box; }

body {
  margin: 0;
  /*background: radial-gradient(#BFD6E2 1px, rgba(255,255,255,0) 2px);*/
  background-size: 10px 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .logo {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    font-size: 24px;
    transition: .3s;
    width: 8%; height: 8%; object-fit: contain;
  }
nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}
.topmenu {
  backface-visibility: hidden;
  background: rgba(255,255,255,.8);
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  font-family: 'Exo 2', sans-serif;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  font-weight: bold;
  color: #003559;
  text-transform: uppercase;
}
.down:after {
  content: "\21e3";
  margin-left: 8px;
  font-family: FontAwesome;
}
.topmenu li a:hover { color: #E6855F; }
.submenu {
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width:  auto;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  color: #7f7f7f;
  font-size: 13px;
  line-height: 36px;
  padding: 0 25px;
  font-family: 'Kurale', serif;
}
form {
    width: auto;

  }
  input {
    width: 200px;
    height: 42px;
    padding-left: 5px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #F9F0DA;
    outline: none;
    position: relative;
    transition: .3s linear;
  }
  input:focus {
    width: 250px;
  }
  button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: -2px;
    right: 0;
  }
  button:before{
    
    font-family: FontAwesome;
    color: #324b4e;
  } 

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
}
.nov{
   
    margin-left: 130px;
    border: 3px solid #543535;
    margin-right: 130px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}
h1.blocktext {
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-bottom: 20px;
    
  }
  p.blocktext{
    font-size: 20px;
  }
  ul {
    margin-left: -1em;
   }
   li {
    padding-left: 20px;
   }
   .center{
align-items: center;
width: 100%; height: 80%; object-fit: contain;

   }
   .podcherk{
    text-decoration: underline;
    font-size: 20px;
   }
